---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Cómo:] ¿Publicar y analizar Resultados de pruebas? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System le permite representar gráficamente los cambios en la calidad del código de un proyecto a medida que progresa el proyecto. En este vídeo se proporcionan instrucciones acerca de cómo publ...
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: e7e91932a6e91a63e2e46417626f39d6b244a3ab
ms.translationtype: MT
ms.contentlocale: es-ES
ms.lasthandoff: 03/06/2020
ms.locfileid: "78520879"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="643a5-105">[Cómo:] ¿Publicar y analizar Resultados de pruebas?</span><span class="sxs-lookup"><span data-stu-id="643a5-105">[How Do I:] Publish and Analyze Test Results?</span></span>

<span data-ttu-id="643a5-106">por [Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="643a5-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="643a5-107">Visual Studio Team System le permite representar gráficamente los cambios en la calidad del código de un proyecto a medida que progresa el proyecto.</span><span class="sxs-lookup"><span data-stu-id="643a5-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="643a5-108">Este vídeo proporciona instrucciones sobre cómo publicar los resultados de pruebas en la base de datos del proyecto de Team Foundation Server y asociar los resultados con un número de compilación.</span><span class="sxs-lookup"><span data-stu-id="643a5-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="643a5-109">Vemos que, una vez publicados los resultados, podemos usar el Administrador de informes para ver una representación gráfica de los cambios en los resultados de pruebas de compilación.</span><span class="sxs-lookup"><span data-stu-id="643a5-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="643a5-110">&#9654;Ver vídeo (7 minutos)</span><span class="sxs-lookup"><span data-stu-id="643a5-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="643a5-111">[Anterior](how-do-i-use-generic-tests.md)
> [Siguiente](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="643a5-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
